<!-- Page Content -->
<div class="container">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Arm Your Sandwich
                <small>Create, edit, or delete your customized sandwiches</small>
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <h4 ng-if="sandwiches.length == 0">No sandwiches to display</h4>
        <div ng-repeat="sandwich in sandwiches" class="col-md-3 thumbnail">
            <img class="img-thumbnail" src="{{getSandwichPicture(sandwich)}}" alt="">
            <div class="caption">
                <h4 class="pull-right">{{::sandwich.price}}</h4>
                <h4>{{::sandwich.name}}</h4>
                <p>{{::sandwich.instructions}}</p>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <a ui-sref="edit({ id: sandwich._id })">Edit</a>
                </div>
                <div class="col-md-3">
                    <a ui-sref='home' ng-click="deleteSandwich(sandwich)">Delete<a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 portfolio-item">
            <a class="plus" ng-click="scrollUp()" ui-sref="create">
                Add new sandwich +
            </a>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>CSCI2720 - Final Project</p>
            </div>
        </div>
        <!-- /.row -->
    </footer>

</div>
