<div class="page-header">

    <h3>Arm your Sandwich</h3>
    <form role="form" ng-submit="addSandwich()">
	    <div class="container">
	    	<h4>1. Choose a type of bread</h4>
			<div class="row">
				<div class="col-md-6">
					<img src="/images/breads.jpg">
				</div>
				<div class="col-md-6 form-group">

					<li ng-repeat="bread in breads">
				      <input type="checkbox" ng-model="bread.selected" value={{bread.name}} /> {{bread.name}}
				    </li>

					<p>(from left to right)</p>
				</div>
			</div>
		</div>
		<hr>
		<div class="container">
	    	<h4>2. Choose a sandwich size</h4>
			<div class="row">
				<div class="col-md-6">
					<img src="/images/whole.jpg">
					<p>(Whole)</p>
					<img src="/images/half.jpg">
					<p>(Half)</p>
				</div>
				<div class="col-md-6 form-group">
					<div class="radio">
						<label><input type="radio" ng-model="size" value="true">Half</label>
					</div>
					<div class="radio">
					<label><input type="radio" ng-model="size" value="false">Whole</label>
					</div>
				</div>
			</div>
		</div>
		<hr>
		<div class="container">
	    	<h4>3. Choose your meats</h4>
			<div class="row">
				<div class="col-md-6">
					<img class="text-center" src="/images/meats.png">
				</div>
				<div class="col-md-6 form-group">

					<li ng-repeat="meat in meats">
				      <input type="checkbox" ng-model="meat.selected" value={{meat.name}} /> {{meat.name}}
				    </li>

				</div>
			</div>
		</div>

		<hr>

		<div class="container">
	    	<h4>4. Choose your cheese</h4>
			<div class="row">
				<div class="col-md-6">
					<img class="text-center" style="margin-left:20px" src="/images/cheese.jpg">
				</div>
				<div class="col-md-6 form-group">
						<li ng-repeat="cheese in cheeses">
				      <input type="checkbox" ng-model="cheese.selected" value={{cheese.name}} /> {{cheese.name}}
				    </li>
				</div>
			</div>
		</div>

		<hr>

		<div class="container">
	    	<h4>5. Choose your vegetables</h4>
			<div class="row">
				<div class="col-md-6">
					<img class="text-center" style="margin-left:20px" src="/images/veggies.jpg">
				</div>
				<div class="col-md-6 form-group">

					<li ng-repeat="vegetable in vegetables">
				      <input type="checkbox" ng-model="vegetable.selected" value={{vegetable.name}} /> {{vegetable.name}}
				    </li>

				</div>
			</div>
		</div>

		<hr>

		<div class="container">
	    	<h4>6. Choose your sauces</h4>
			<div class="row">
				<div class="col-md-6">
					<img class="text-center" style="margin-left:20px" src="/images/sauces.png">
				</div>
				<div class="col-md-6 form-group">
						<li ng-repeat="sauce in sauces">
				      <input type="checkbox" ng-model="sauce.selected" value={{sauce.name}} /> {{sauce.name}}
				    </li>
				</div>
			</div>
		</div>

		<hr>

		<div class="container">
	    	<h4>7. Add a special instruction</h4>
			<div class="form-group">
			  <label for="comment">Comment:</label>
			  <textarea class="form-control" rows="5" ng-model="instructions"></textarea>
			</div>
		</div>

		<hr>

		<div class="container">
	    	<h4>8. Name your sandwich</h4>
			<div class="form-group">
			  	<label for="usr">Name:</label>
			  	<input type="text" class="form-control" ng-model="name">
			</div>
			<button type="submit" class="btn btn-default">Submit</button>
		</div>

	</form>
  </div>